.boton.cinco span{
    
    transition: .3s ease all;
    position: absolute;
    left: 41%;

    
    
}

.boton.cinco .icono {

    transition: .3s ease all;
    display: flex;
    opacity: 0;
    align-items: center;
    position: absolute;
    left: 20px;
    transform: scale(150%);
    z-index: 2;
}


.boton.cinco::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(2, 73, 73);
    position: absolute;
    z-index: 1;
    left: -100%;
    transition: .2s ease;

}




.boton.cinco:hover span{
    left: 10%;
    
}
.boton.cinco:hover .icono {

    opacity: 1;
    left: 340px;
}

.boton.cinco:hover::after{

    left: 0;


}


