.boton.cuatro{

    background: black;
    transition: .4s ease-in-out all;
}

.boton.cuatro::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    left: center;
    border-radius: 100%;
    top: center;
    transition: .3s ease-in-out all;

}

.boton.cuatro:hover{
    background: rgb(100, 2, 2); ;

}

.boton.cuatro:hover::after{

    transform: scale(100);
    background: rgb(255, 2, 2);

}
